{% extends 'app/base.html' %}

{% load static %}

{% block title %}Tambah Pemasangan{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/add_installation.css' %}">{% endblock style %}

{% block content %}
<form id="installationForm" method="POST" data-page-url="{% url 'app:ajax_load_pages' %}"
    data-location-url="{% url 'app:ajax_load_locations' %}" data-banner-url="{% url 'app:ajax_load_banner' %}"
    data-location-size-url="{% url 'app:ajax_load_location_size' %}"
    data-check-priority-url="{% url 'app:ajax_check_priority_available_add' %}"
    data-check-campaign_code-url="{% url 'app:ajax_check_campaign_code_available_add' %}">
    {% csrf_token %}

    {{ formset_installation.management_form }}
    {{ formset_campaign.management_form }}

    <div id="card-field" class="container-fluid mt-3">

        <h3 class="text-center mb-2">Form Tambah Pemasangan Banner
            <span class="btn-group float-right">
                <a href="{% url 'app:add_install' %}">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </a>
            </span>
            <span class="btn-group float-right">
                <a href="{% url 'app:install' %}" style="color: white; text-decoration: none;">
                    <button type="button" class="btn btn-secondary mr-2">
                        Batal
                    </button>
                </a>
            </span>
        </h3>

        <hr>

        <div class="container-fluid mt-5">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="app_select">Nama Aplikasi</label>
                <div class="col-sm-10">
                    <select id="app_select" class="form-control input-lg">
                        <option value="">Pilih Aplikasi</option>
                        {% for app in apps %}
                        <option value="{{ app.id }}">{{ app.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="container-fluid mb-3">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="page_select">Nama Halaman</label>
                <div class="col-sm-10">        
                    <select id="page_select" class="form-control" disabled>
                        {% include 'app/pages_dropdown_list_options.html' %}
                    </select>
                </div>
            </div>
        </div>

        <input id="id_installation-TOTAL_FIELDSETS" name="installation-TOTAL_FIELDSETS" type="hidden" value="1">

        <div class="container-fluid mb-5">

            {% for installation in formset_installation %}
            <fieldset id="id_install-0-fieldset" class="page-border fieldset">

                <legend class="page-border">Lokasi Pemasangan ke-1</legend>

                <div class="container">

                    <div class="form-group row location-div">
                        <label class="col-sm-2 col-form-label" for="id_location-select-0">Nama Lokasi</label>
                        <div class="col-sm-10">
                            <select id="id_location-select-0" name="location-select-0" class="form-control location-select" onchange="load_size(this);" disabled required>
                                {% include 'app/locations_dropdown_list_options.html' %}
                            </select>
                            <input id="id_banner-0-min" name="banner-0-min" type="hidden" value="0">
                            <input id="id_banner-0-max" name="banner-0-max" type="hidden" value="0">
                        </div>
                        <input type="hidden" id="id_location-previous-value-0" name="location-previous-value-0" value="">
                        <input type="hidden" id="id_location-is_slider-status-0" name="location-is_slider-0" value="">
                    </div>
                    
                    <div class="form-group row mb-4">
                        <div class="col-sm-10">
                            <small style="color: red;" id="id_location-size-0"></small>
                        </div>
                    </div>

                    
                    {% for campaign in formset_campaign %}
                    <div class="form-group row mb-4 campaign-codediv">
                        <label class="col-sm-2 col-form-label" for="{{ campaign.campaign_code.id_for_label }}">{{ campaign.campaign_code.label }}</label>
                        <div class="col-sm-10">
                            {{ campaign.campaign_code }}
                            <small id="id_campaign-code-warning-0" class="campaign_warning" style="color: red; display: none;">Kode Campaign telah digunakan pada aplikasi ini.</small>
                        </div>
                    </div>
                    
                    <div class="form-group row mb-4 prioritydiv">
                        <label class="col-sm-2 col-form-label" for="{{ campaign.priority.id_for_label }}">{{ campaign.priority.label }}</label>
                        <div class="col-sm-1">
                            {{ campaign.priority }}
                        </div>
                        <div class="col-sm-9 my-auto">
                            <small id="id_campaign-priority-warning-0" class="campaign_warning" style="color: red; display: none;">Prioritas ini telah dipakai. Silahkan masukkan angka prioritas yang lain.</small>
                        </div>
                    </div>
                    
                    <div class="form-group row mb-4">
                        <div class="col-sm-10">
                            <small class="campaign_warning" style="color: red;">*Prioritas Banner dapat diisi nilai 1-100. Nilai prioritas dalam satu lokasi pemasangan tidak boleh sama.</small>
                        </div>
                    </div>

                    <div class="form-group row mb-4 daterangepickerdiv">
                        <label class="col-sm-2 col-form-label" for="{{ campaign.daterangepicker.id_for_label }}">{{ campaign.daterangepicker.label }}</label>
                        <div class="input-group col-sm-10">
                            {{ campaign.daterangepicker }}
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                        
                    {% endfor %}
                        
                    

                    <hr>
                    
                    <div id="banner-div-0" class="banner-div">        

                        <div class="form-group row mb-4 banner-name">
                            <label class="col-sm-2 col-form-label"
                                for="{{ installation.banner_names.id_for_label }}">{{ installation.banner_names.label }}</label>
                            <div class="col-sm-10">
                                {{ installation.banner_names }}
                            </div>
                        </div>

                        <div class="form-group row mb-4 banner-preview">
                            <label class="col-sm-2 col-form-label" for="">Gambar Banner</label>
                            <div class="col-sm-10">
                                <img id="img-0" src="" width="400">
                            </div>
                        </div>

                        <div class="form-group row mb-4 banner-size">
                            <div class="col-sm-10">
                                <small style="color: red;" id="id_banner-size-0"></small>
                            </div>
                        </div>
                        
                        <input type="hidden" id="id_banner-previous-value-0" name="banner-previous-value-0" class="banner-previous-value" value="" data-fieldset-id="0">

                        <div class="form-group row redirect-toggle">
                            <div class="col-sm-12">
                                <strong>
                                    <label class="radio-inline mr-2" for="id_banner-0-is_redirect_0"
                                        style="color: #007bff;">Apakah ketika gambar banner diklik akan mengarah ke
                                        halaman lain?</label>
                                    <label class="radio-inline" style="color: #007bff;">
                                        <input id="id_banner-0-is_redirect_0" name="banner-0-is_redirect"
                                            type="radio" class="ml-2" onchange="showRedirect(this);">
                                        <label for="id_banner-0-is_redirect_0">Ya</label>
                                    </label>
                                    <label class="radio-inline" style="color: #007bff;">
                                        <input id="id_banner-0-is_redirect_1" name="banner-0-is_redirect"
                                            type="radio" class="ml-2" onchange="hideRedirect(this);" checked>
                                        <label for="id_banner-0-is_redirect_1" class="ml-2">Tidak</label>
                                    </label>
                                </strong>
                            </div>    
                        </div>

                        <div class="form-group row mb-4 banner-url" style="display: none;">
                            <label class="col-sm-2 col-form-label"
                                for="{{ installation.redirect.id_for_label }}">{{ installation.redirect.label }}</label>
                            <div class="col-sm-10">{{ installation.redirect }}</div>
                        </div>
                            
                        <hr>

                    </div>

                    <button id="id_banner-add-0" type="button" class="btn btn-sm btn-primary float-right"
                        onclick="cloneBanner(this);">Tambah Banner</button>
                    <button id="id_banner-delete-0" type="button" class="btn btn-sm btn-danger float-right mr-2"
                        onclick="removeBanner(this);" style="display: none;">Hapus Banner</button>

                </div>
                
            </fieldset>
            {% endfor %}
            
            <div class="container mb-5">
                <div class="form-group row float-right">
                    <button id="id_install-delete-button" type="button" class="btn btn-danger float-right mr-2"
                        onclick="removeInstall('fieldset.page-border:last');" style="display: none;">Hapus Lokasi</button>
                    <button id="id_install-add-button" type="button" class="btn btn-primary float-right"
                        onclick="cloneInstall('fieldset.page-border:last');">Tambah Lokasi</button>
                </div>
            </div>

        </div>

    </div>
</form>
{% endblock content %}  

{% block script %}
<script src="{% static 'js/add_installation.js' %}"></script>
{% endblock script %}
    
