{% extends 'app/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/add_page.css' %}">

<div class="container mt-5 mb-5">
    <form id="pageForm" method="POST" data-check-similar-page-url="{% url 'app:ajax_check_similar_page' %}"
        data-check-similar-location-url="{% url 'app:ajax_check_similar_location' %}">
        {% csrf_token %}

        {{ formset_page.management_form }}
        {{ formset_location.management_form }}

        <div id="card-field" class="container-fluid mt-3">

            <h3 class="text-center mb-2">Form Tambah Halaman
                <span class="btn-group float-right">
                    <a href="{% url 'app:add_page' %}">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </a>
                </span>
                <span class="btn-group float-right">
                    <a href="{% url 'app:page' %}" style="color: white; text-decoration: none;">
                        <button type="button" class="btn btn-secondary mr-2">
                            Batal
                        </button>
                    </a>
                </span>
            </h3>

            <hr>

            <div class="container-fluid mt-5 mb-5">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form_application.names.id_for_label }}">{{ form_application.names.label }}</label>
                    <div class="col-sm-4">
                        {{ form_application.names }}
                    </div>
                </div>
                
                {% for page in formset_page %}
                <fieldset id="id_page-0-fieldset" class="page-border fieldset">

                    <legend class="page-border">Halaman ke-1</legend>

                    <div class="container">

                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label"
                                for="{{ page.name.id_for_label }}">{{ page.name.label }}</label>
                            <div class="col-sm-10">
                                {{ page.name }}
                                <small id="id_warning-text-page-0" style="color: red; display: none;">Nama Halaman telah dipakai. Silahkan coba nama lain.</small>
                            </div>
                            <input id="id_page-0-min" type="hidden" name="page-0-min" value="0">
                            <input id="id_page-0-max" type="hidden" name="page-0-max" value="0">
                        </div>

                        {% for location in formset_location %}
                        <div class="location-div ml-5">

                            <div class="form-group row mb-0 location-slider">
                                <div class="col-sm-12">
                                    <strong>
                                        <label class="radio-inline mr-2" for="{{ location.is_slider.id_for_label }}" style="color: #007bff;">{{ location.is_slider.label }}</label>
                                        {% for option in location.is_slider %}
                                        <label for="radio-inline" style="color: #007bff;">
                                            {{ option }}
                                        </label>
                                        {% endfor %}
                                    </strong>
                                </div>    
                            </div>

                            <div class="form-group row location-name">
                                <label class="col-sm-3 col-form-label" for="{{ location.name.id_for_label }}">{{ location.name.label }}</label>
                                <div class="col-sm-9">
                                    {{ location.name }}
                                    <small id="id_warning-text-location-0" style="color: red; display: none;">Nama Lokasi
                                        telah dipakai. Silahkan coba nama lain.</small>
                                </div>
                            </div>

                            <div class="form-group row location-size">
                                <label class="col-sm-3 col-form-label mr-3" for="{{ location.width.id_for_label}}">{{ location.width.label }}</label>
                                {{ location.width }}

                                <label class="mr-2 ml-2" for="{{ location.height.id_for_label}}">{{ location.height.label }}</label>
                                {{ location.height }}            
                            </div>     

                        </div>
                        {% endfor %}

                        <button id="id_location-add-0" type="button" class="btn btn-sm btn-primary float-right"
                            onclick="cloneLocation(this);">Tambah Lokasi</button>
                        <button id="id_location-delete-0" type="button" class="btn btn-sm btn-danger float-right mr-2"
                            onclick="removeLocation(this);" style="display: none;">Hapus Lokasi</button>
                        
                    </div>
                    
                </fieldset>
                {% endfor %}
                
                <div class="container mb-5">
                    <div class="form-group row float-right">
                        <button id="id_page-delete-button" type="button" class="btn btn-danger float-right mr-2"
                            onclick="removePage('fieldset.page-border:last');" style="display: none;">Hapus Halaman</button>
                        <button id="id_page-add-button" type="button" class="btn btn-primary float-right"
                            onclick="clonePage('fieldset.page-border:last');">Tambah Halaman</button>
                    </div>
                </div>

            </div>

        </div>
    </form>

</div>

<script src="{% static 'js/add_page.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
    $(document).ready(function () {
        $('#id_names').select2({
            theme: 'bootstrap4',
            placeholder: 'Pilih aplikasi',
        });
    });

    function checkSimilarPage(input) {
        var url = $('#pageForm').attr("data-check-similar-page-url");
        var value = $(input).val();

        var inputId = $(input).attr('id')
        var id = inputId.slice(8, 10);

        var inputValue = $(input).val();

        if (id.includes('-')) {
            var id = inputId.slice(8, 9);
        }

        $.ajax({
            url: url,
            data: {
                'value' : value
            },
            success: function(data) {
                if(data == 'False') {
                    $('#id_warning-text-page-' + id).show();
                }else{
                    $('#id_warning-text-page-' + id).hide();
                }
            }
        });

        $('.page-name:not(#' + inputId + ')').each(function () {
            var pageValue = $(this).val();
            if (pagevalue == inputValue) {
                $('#id_warning-text-page-' + id).show();
                return false;
            }else{
                $('#id_warning-text-page-' + id).hide();
            }
        });
    }

    function checkSimilarLocation(input) {
        var url = $('#pageForm').attr("data-check-similar-location-url");
        var value = $(input).val();

        var inputId = $(input).attr('id')
        var id = inputId.slice(12, 14);

        if (id.includes('-')) {
            var id = inputId.slice(12, 13);
        }

        $.ajax({
            url: url,
            data: {
                'value' : value
            },
            success: function(data) {
                if(data == 'False') {
                    $('#id_warning-text-location-' + id).show();
                }else{
                    $('#id_warning-text-location-' + id).hide();
                }
            }
        });

        // var inputId = $(input).attr('id')
        // var id = inputId.slice(8, 10);

        // if (id.includes('-')) {
        // var id = inputId.slice(8, 9);
        // }

        // var inputValue = $(input).val();

        // $('.page-name:not(#' + inputId + ')').each(function () {
        // if ($(this).val() == inputValue) {
        // $('#id_warning-text-' + id).show();
        // $('#id_success-text-' + id).hide();
        // return false;
        // }else{
        // $('#id_warning-text-' + id).hide();
        // $('#id_success-text-' + id).show();
        // return false;
        // }
        // });
    }
</script>

{% endblock content %}