{% extends 'app/base.html' %}

{% load static %}

{% block title %}SMS Blast - Tambah Kontak{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'css/add_smsblast.css' %}">{% endblock style %}

{% block content %}
<form id="smsBlastForm" method="POST" action="{% url 'app:smsblast_add_smsblast' %}">
    {% csrf_token %}

    <div id="card-field" class="container-fluid mt-3">
        <h3 class="text-center mb-2">Form Tambah SMS</h3>
    </div>

    <hr>

    <div class="container-fluid mt-5 mb-5">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="{{ form_smsblast.to_numbers.id_for_label }}">{{ form_smsblast.to_numbers.label }}</label>
            <div class="col-sm-10">
                {{ form_smsblast.to_numbers }}

                {% if form_smsblast.errors %}
                {% for error in form_smsblast.to_numbers.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="">Lihat Grup Kontak</label>
            <div class="col-sm-10">
                <a id="viewTempContacts" href="{% url 'app:smsblast_add_smsblast_temp_contacts' %}" target="_blank">
                    <button id="viewTempContactsBtn" type="button" class="btn btn-warning" disabled>Lihat Nomor</button>
                </a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="{{ form_smsblast.message_title.id_for_label }}">{{ form_smsblast.message_title.label }}</label>
            <div class="col-sm-10">
                {{ form_smsblast.message_title }}
                
                {% if form_smsblast.errors %}
                {% for error in form_smsblast.message_title.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="{{ form_smsblast.message_text.id_for_label }}">{{ form_smsblast.message_text.label }}</label>
            <div class="col-sm-10">
                {{ form_smsblast.message_text }}

                {% if form_smsblast.errors %}
                {% for error in form_smsblast.message_text.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-sm-12">
                <strong>
                    <label class="radio-inline mr-3" for="send_now_yes" style="color: #007bff;">Apakah pesan mau dikirim sekarang?</label>
                    <label class="mr-3 radio-inline" for="send_now_yes" style="color: #007bff;">
                        <input type="radio" name="send_now" id="send_now_yes" value="Ya" required checked>
                        Ya
                    </label>
                    <label class="radio-inline" for="send_now_no" style="color: #007bff;">
                        <input type="radio" name="send_now" id="send_now_no" value="Tidak" required>
                        Tidak
                    </label>
                </strong>
            </div>
        </div>

        <div id="send_now_div" style="display: none;">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                    for="{{ form_smsblast.send_date.id_for_label }}">{{ form_smsblast.send_date.label }}</label>
                <div class="col-sm-10">
                    {{ form_smsblast.send_date }}

                    {% if form_smsblast.errors %}
                    {% for error in form_smsblast.send_date.errors %}
                    <small style="color: red;">{{error}}</small>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                    for="{{ form_smsblast.send_time.id_for_label }}">{{ form_smsblast.send_time.label }}</label>
                <div class="col-sm-10">
                    {{ form_smsblast.send_time }}

                    {% if form_smsblast.errors %}
                    {% for error in form_smsblast.send_time.errors %}
                    <small style="color: red;">{{error}}</small>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="form-group float-right mb-5">
            <button class="btn btn-secondary mr-2" type="button">Batal</button>
            <button class="btn btn-primary" type="submit">Kirim</button>
        </div>

    </div>
</form>

{% endblock content %}

{% block script %}
<script src="{% static 'js/add_smsblast.js' %}"></script>
{% endblock script %}