{% extends 'app/base.html' %}

{% load static %}

{% block title %}Tambah User{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'css/add_user.css' %}">{% endblock style %}

{% block content %}
<div class="container mb-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div id="card-field" class="container-fluid mt-3">

            <h3 class="text-center mb-2">Form Tambah Pengguna
                <span class="btn-group float-right">
                    <a href="{% url 'app:add_user' %}">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </a>
                </span>
                <span class="btn-group float-right">
                    <a href="{% url 'app:user' %}" style="color: white; text-decoration: none;">
                        <button type="button" class="btn btn-secondary mr-2">
                            Batal
                        </button>
                    </a>
                </span>
            </h3>

            <hr>

            <div class="container-fluid mt-5 mb-5">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form_user.roles.id_for_label }}">{{ form_user.roles.label }}</label>
                    <div class="col-sm-10 input-group">
                        {{ form_user.roles }}
                    </div>
                    <label class="col-sm-2 col-form-label" for=""></label>
                    <div class="col-sm-10 input-group">                       
                        {% if form_user.errors %}
                        {% for error in form_user.roles.errors %}
                        <small style="color: red;">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form_user.email.id_for_label }}">{{ form_user.email.label }}</label>
                    <div class="col-sm-10 input-group">
                        {{ form_user.email }}                        
                    </div>
                    <label class="col-sm-2 col-form-label" for=""></label>
                    <div class="col-sm-10 input-group">
                        {% if form_user.errors %}
                        {% for error in form_user.email.errors %}
                        <small style="color: red;">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form_user.username.id_for_label }}">{{ form_user.username.label }}</label>
                    <div class="col-sm-10 input-group">
                        {{ form_user.username }}
                    </div>
                    <label class="col-sm-2 col-form-label" for=""></label>
                    <div class="col-sm-10 input-group">
                        {% if form_user.errors %}
                        {% for error in form_user.username.errors %}
                        <small style="color: red;">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="{{ form_user.password.id_for_label }}">{{ form_user.password.label }}</label>
                    <div class="col-sm-10 input-group">
                        {{ form_user.password }}
                    </div>
                    <label class="col-sm-2 col-form-label" for=""></label>
                    <div class="col-sm-10 input-group">
                        {% if form_user.errors %}
                        {% for error in form_user.password.errors %}
                        <small style="color: red;">{{error}}</small>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

    </form>
</div>
{% endblock content %}

{% block script %}
<script>
    $('#smsBlastManagement').removeClass('menu-open');
    $('#sliderManagement').removeClass('menu-open');
    $('a#userManagement').addClass('active');

    $('#id_roles').select2({
        theme: 'bootstrap4',
        placeholder: 'Pilih Role',
    });

</script>
{% endblock script %}
    