{% extends 'app/base.html' %}

{% load static %}

{% block title %}Keyword Counter{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">
{% endblock style %}

{% block contentheader %}Keyword Counter{% endblock contentheader %}

{% block content %}

<fieldset class="scheduler-border">
    
    <legend class="scheduler-border">Filter</legend>
    
    <div class="control-group mb-3 ml-2">
        <form method="GET">
            <div class="row">
                <div class="form-inline">
                    <label for="datepicker1">Tanggal :</label>
                    <input name="date1" class="form-control ml-3" id="datepicker1" placeholder="DD-MM-YY"
                        autocomplete="off" required {% if date1 %}value="{{date1}}"{% else %}value=""{% endif %} />

                    <label class="ml-3" for="datepicker2"> s/d </label>
                    <input name="date2" class="form-control ml-3" id="datepicker2"
                        placeholder="DD-MM-YY" autocomplete="off" required {% if date2 %}value="{{date2}}"{% else %}value=""{% endif %} />

                    <button name="filter" type="submit" class="btn btn-sm btn-primary ml-3">Terapkan</button>
                    <button id="resetFilter" name="reset" type="button" class="btn btn-sm btn-secondary ml-2">Reset Filter</button>
                </div>
            </div>
        </form>
    </div>
        
    <div class="control-group mb-3 ml-2">
        <div class="row">
            <div class="form-inline">
                <label class="mr-3" for="app_filter">Sumber :</label>
                <select id="app_filter" class="form-control">
                    <option value="all_apps">Semua Aplikasi</option>
                    {% for key, app in apps.items %}
                    <option value="{{key}}">{{app}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
        
    <div class="control-group">
        <div class="row">
            <div class="col input-wrapper">
                <input id="myInputTextField" type="text"
                    class="form-control form-control-borderless searchinput" placeholder="Cari keyword...">
                <span class="fas fa-search searchspan"></span>
            </div>
        </div>
    </div>

</fieldset>

<table id="keywordTable" class="table table-sm table-striped table-bordered nowrap">
    <thead>
        <tr>                    
            <th>No</th>
            <th>Keyword</th>
            <th>Sumber Keyword</th>
            <th>IP Pencarian</th>
            <th>Jumlah Pencarian</th>
            <th>Hasil Pencarian</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for item in counts %}
        <tr>
            <td style="vertical-align:middle; text-align:center;">{{forloop.counter}}</td>
            <td style="vertical-align:middle;">{{item.keyword}}</td>
            <td style="vertical-align:middle;">
                <ul>
                    <li class="holahalo_website">
                        Holahalo Website: {{item.holahalo_website}}
                    </li>
                    <li class="holahalo_mobile_website">
                        Holahalo Mobile Website: {{item.holahalo_mobile_website}}
                    </li>
                    <li class="holahalo_android">
                        Holahalo Android: {{item.holahalo_android}}
                    </li>
                </ul>
            </td>
            <td style="vertical-align:middle; text-align:center;">
                <a href="{% url 'app:keyword_ip_detail' pk=item.id count=item.keyword_count %}?date1={{date1}}&date2={{date2}}">
                    {{item.keyword_ip|default_if_none:""}}
                </a>
            </td>
            <td style="vertical-align:middle; text-align:center;">{{item.keyword_count}}</td>
            <td>
                <ul>
                    <li class="scraperesult">
                        Tanggal: {{item.lastscrape_date|default_if_none:""}}
                    </li>
                    <li class="scraperesult">
                        Jam: {{item.lastscrape_time|default_if_none:""}}
                    </li>
                    <li class="scraperesult">
                        Total Produk: {{item.lastscrape_products|default_if_none:""}}
                    </li>
                </ul>
            </td>
            <td style="vertical-align:middle;">
                <span class="spanFormat">
                    <a href="https://www.holahalo.com/search?q={{item.keyword}}&category_id_navbar%5B%5D=" target="_blank">
                        <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Klik untuk melihat asal sumber keyword">
                            <i class="fa fa-search"></i>
                        </button>
                    </a>
                </span>
                <span class="spanFormat">
                    <form method="POST" action="{% url 'app:keywords_scrape' pk=item.id %}">
                        {% csrf_token %}
                        <input name="keyword" type="hidden" value="{{item.keyword}}">
                        <button type="submit" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Klik untuk melihat hasil pencarian terbaru">
                            <i class="far fa-chart-bar"></i>
                        </button>
                    </form>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    $('#smsBlastManagement').removeClass('menu-open');
    $('#sliderManagement').removeClass('menu-open');
    $('a#keywordCounter').addClass('active');

    $('#app_filter').select2({
        theme: 'bootstrap4',
        placeholder: 'Semua Aplikasi',
    });

    $('#datepicker1').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
    });
    $('#datepicker2').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd-mm-yyyy',
        disableDates: function (date) {
            var date1 = $('#datepicker1').val();
            var date1 = date1.slice(6, 10) + '-' + date1.slice(3, 5) + '-' +
                date1.slice(0, 2)
            const currentDate = new Date(date1).setHours(0, 0, 0, 0);
            return date.setHours(0, 0, 0, 0) >= currentDate ? true : false;
        }
    });

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
})

table = $('#keywordTable').DataTable({
    bInfo: false,
    aaSorting: [],
    dom: "<'tableWidget top row'<'col-sm-12 col-md-6'l>>rt<'bottom'p>",
});

$("div.tableWidget.top").append('<div class="col-sm-12 col-md-6"><a id="exportExcel" href="/keywords/export?date1={{date1}}&date2={{date2}}&app=all_apps"><button class="btn btn-success float-right"><i class="fas fa-file-excel mr-2"></i>Export Excel</button></a></div>');

$('#myInputTextField').keyup(function () {
    table.search($(this).val()).draw();
});

$('#app_filter').change(function () {
    li_class = $(this).find('option:selected').val()

    if (li_class) {
        if (li_class === 'all_apps') {
            $('#keywordTable li').show();

            var app = $('#exportExcel').attr("href").split('=').slice(-1).pop();
            var url = $('#exportExcel').attr("href").replace(app, li_class);
            $('#exportExcel').attr('href', url);
        }else {
            $('#keywordTable li.' + li_class).show();
            $('#keywordTable li:not(.' + li_class + ', .scraperesult)').hide();

            var app = $('#exportExcel').attr("href").split('=').slice(-1).pop();
            var url = $('#exportExcel').attr("href").replace(app, li_class);
            $('#exportExcel').attr('href', url);
        }
    }
})

$('#resetFilter').click(function () {
    var urlParams = new URLSearchParams(window.location.search);
    var urlParam = urlParams.get('date1');

    if (urlParam) {
        window.location.href = "/keywords";
    } else {
        $('#myInputTextField').val('');
        $('#datepicker1').val('{{date1}}');
        $('#datepicker2').val('{{date2}}');
        $('#app_filter').val('all_apps').trigger('change');
        $('li').show();

        $.fn.dataTable.ext.search = [];
        table.destroy();

        table = $('#keywordTable').DataTable({
            bInfo: false,
            aaSorting: [],
            dom: "<'tableWidget top row'<'col-sm-12 col-md-6'l>>rt<'bottom'p>",
        });
    
        $("div.tableWidget.top").append('<div class="col-sm-12 col-md-6"><a id="exportExcel" href="/keywords/export?date1={{date1}}&date2={{date2}}&app=all_apps"><button class="btn btn-success float-right"><i class="fas fa-file-excel mr-2"></i>Export Excel</button></a></div>');

        table.draw();
    }
});

</script>
{% endblock script %}