{% extends 'app/base.html' %}

{% load static %}

{% block title %}Keyword Counter{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/keyword.css' %}">
{% endblock style %}

{% block contentheader %}Keyword Counter{% endblock contentheader %}

{% block content %}

<fieldset class="scheduler-border">
    
    <legend class="scheduler-border">Filter</legend>
    
    <div class="control-group mb-3 ml-2">
        <form method="GET">
            <div class="row">
                <div class="form-inline">
                    <label for="datepicker1">Tanggal :</label>
                    <input name="date1"class="form-control ml-3" id="datepicker1" placeholder="DD-MM-YY"
                        autocomplete="off" required {% if date1 %}value="{{date1}}"{% else %}value=""{% endif %} />

                    <label class="ml-3" for="datepicker2"> s/d </label>
                    <input name="date2"class="form-control ml-3" id="datepicker2"
                        placeholder="DD-MM-YY" autocomplete="off" required {% if date1 %}value="{{date1}}"{% else %}value=""{% endif %} />

                    <button name="filter" type="submit" class="btn btn-sm btn-primary ml-3">Terapkan</button>
                    <button id="resetFilter" name="reset" type="button" class="btn btn-sm btn-secondary ml-2">Reset Filter</button>
                </div>
            </div>
        </form>
    </div>
        
    <div class="control-group mb-3">
        <div class="row">
            <div class="col-sm-3 no-padding">
                <div class="input-group">
                    <select id="app_filter" class="form-control">
                        <option value="">Cari Aplikasi</option>
                        {% for app in apps %}
                        <option value="{{app.id}}">{{app.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
        
    <div class="control-group">
        <div class="row">
            <div class="col input-wrapper">
                <input id="myInputTextField" type="text"
                    class="form-control form-control-borderless searchinput" placeholder="Cari keyword...">
                <span class="fas fa-search searchspan"></span>
            </div>
        </div>
    </div>

</fieldset>

<table id="keywordTable" class="table table-sm table-striped table-bordered">
    <thead>
        <tr>                    
            <th>No</th>
            <th>Keyword</th>
            <th>Sumber Keyword</th>
            <th>IP Pencarian</th>
            <th>Jumlah Pencarian</th>
            <th>Hasil Pencarian</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        {% for item in counts %}
        <tr>
            <td style="vertical-align:middle; text-align:center;">{{forloop.counter}}</td>
            <td style="vertical-align:middle;">{{item.keyword}}</td>
            <td style="vertical-align:middle;">
                <ul>
                    <li class="Holahalo Website">
                        Holahalo Website: {{item.holahalo_website}}
                    </li>
                    <li class="Holahalo Mobile Website">
                        Holahalo Mobile Website: {{item.holahalo_mobile_website}}
                    </li>
                    <li class="Holahalo Android">
                        Holahalo Android: {{item.holahalo_android}}
                    </li>
                </ul>
            </td>
            <td style="vertical-align:middle; text-align:center;">
                <a href="{% url 'app:keyword_ip_detail' pk=item.id %}">
                    {{item.keyword_ip}}
                </a>
            </td>
            <td style="vertical-align:middle; text-align:center;">{{item.keyword_count}}</td>
            <td>
                {% if item.lastscrape_time %}
                <ul>
                    <li>
                        Tanggal: {{item.lastscrape_date|default_if_none:""}}
                    </li>
                    <li>
                        Jam: {{item.lastscrape_time|default_if_none:""}}
                    </li>
                    <li>
                        Total Produk: {{item.lastscrape_products|default_if_none:""}}
                    </li>
                </ul>
                {% endif %}
            </td>
            <td style="vertical-align:middle;">
                <span class="spanFormat">
                    <a href="https://www.holahalo.com/search?q={{item.keyword}}&category_id_navbar%5B%5D=" target="_blank">
                        <button type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="bottom" title="Klik untuk melihat asal sumber keyword">
                            <i class="fa fa-search"></i>
                        </button>
                    </a>
                </span>
                <span class="spanFormat">
                    <form method="POST" action="{% url 'app:keywords_scrape' pk=item.id %}">
                        {% csrf_token %}
                        <input name="keyword" type="hidden" value="{{item.keyword}}">
                        <button type="submit" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Klik untuk melihat hasil pencarian terbaru">
                            <i class="far fa-chart-bar"></i>
                        </button>
                    </form>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block script %}
<script src="{% static 'js/keyword.js' %}"></script>
{% endblock script %}