<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<style>
    .btn-primary{
        background-color: #dc1e3c !important;
        border-color: #dc1e3c !important;
        color: white !important;
        border-radius: 8px;
        padding: 10px;
    }
</style>

<body>
    <div class="title" style="text-align: center;">
        <h3 class="card-title text-center"><strong>CMS CAMPAIGN HOLAHALO</strong></h5>
    </div>
    <hr>
    <div class="highlight">
        <p>Halo, {{ username }}:</p>
        <p>Anda telah ditambahkan oleh Super Admin sebagai {{role}} dengan akun sebagai berikut:</p>

        <br>
        
        <p>Nama Akun: {{username}}</p>
        <p>Email: {{email}}</p>
        <p>Password: {{password}}</p>

        <br>

        <p>Untuk masuk ke akun anda silahkan klik tombol di bawah ini:</p>
        <div style="text-align: center;">
            <form action="https://banner-slider-qa.holahalo.dev/login/" target="_blank">
                <button type="submit" class="btn btn-primary">Masuk</button>
            </form>
        </div>
        <p>Email ini dibuat secara otomatis. Mohon tidak mengirimkan balasan ke email ini.</p>
    </div>
    <hr>
    <p>CMS Campaign Holahalo</p>

</body>

</html>
