{% load static %}
<link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <strong>Slider Manager</strong>
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'app:keywords' %}" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-font mr-2"></i>
            <strong>Keyword Counter</strong>
        </a>
        <a href="#" onclick="logout();" class="list-group-item list-group-item-action bg-light">
            <i class="fas fa-sign-out-alt mr-2"></i>
            <strong>Logout</strong>
        </a>
    </div>    
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script src="{% static 'js/navbar.js' %}"></script>
