{% extends 'app/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/page.css' %}">

<div class="container mt-5 mb-5">
    <h3 class="mt-3 mb-3">Manajemen Halaman</h3>

    <div id="filterDiv" class="control-group mb-3" data-page-url="{% url 'app:ajax_load_pages' %}">
        <div class="col input-wrapper">
            <div class="row">
                <div class="col-sm-3 no-padding">
                    <label for="app_filter"><small>Cari Nama Aplikasi</small></label>
                    <select id="app_filter" class="form-control">
                        <option value="">Cari Aplikasi</option>
                        {% for app in apps %}
                        <option value="{{app.id}}">{{app.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 no-padding">
                    <label for="page_filter"><small>Cari Nama Halaman</small></label>
                    <select id="page_filter" class="form-control" disabled>
                        {% include 'app/pages_dropdown_list_options.html' %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group mb-3">
        <div class="row">
            <div class="col input-wrapper">
                <input id="myInputTextField" type="text"
                    class="form-control form-control-borderless searchinput" placeholder="Cari...">
                <span class="fas fa-search searchspan"></span>
            </div>
        </div>
    </div>

    <table id="pageTable" class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Aplikasi</th>
                <th scope="col">Nama Halaman</th>
                <th scope="col">Nama Lokasi Pemasangan</th>
                <th scope="col">Ukuran Gambar</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>

        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{content.app}}</td>
                <td>{{content.page_name}}</td>
                <td>
                    <ul>
                        {% for name in content.location_names %}

                        {% with start=forloop.counter0|stringformat:"s" end=forloop.counter|stringformat:"s" %}
                        {% with idSlice=""|add:start|add:":"|add:end %}
                        {% with loc_id=content.location_ids|slice:idSlice %}
                        
                        <li>{{name}} ({{loc_id.0}})</li>
                        
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for size in content.location_sizes %}
                            <li>{{size}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <span class="spanFormat">
                        <form action="{% url 'app:update_page' pk=content.page_id %}" method="GET">
                            <button type="submit" class="btn btn-sm btn-warning">Update</button>
                        </form>
                    </span>

                    {% if content.is_archived == False %}

                    <span class="spanFormat">
                        <form id="form_page_archive_{{content.page_id}}" action="{% url 'app:archive_page' pk=content.page_id %}"
                            method="POST">
                            {% csrf_token %}
                            <button id="{{ content.page_id }}" type="button" onclick="archive(this);" class="btn btn-sm btn-danger"
                                {% if content.is_active %}disabled{% else %}{% endif %}>Archive</button>
                        </form>
                    </span>

                    {% else %}

                    <span class="spanFormat">
                        <form id="form_page_archive_{{content.page_id}}" action="{% url 'app:archive_page' pk=content.page_id %}"
                            method="POST">
                            {% csrf_token %}
                            <button id="{{ content.page_id }}" type="button" onclick="unarchive(this);" class="btn btn-sm btn-danger"
                                {% if content.is_active %}disabled{% else %}{% endif %}>Unarchive</button>
                        </form>
                    </span>

                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>     
    </table>

</div>

<script src="{% static 'js/page.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#app_filter').select2({
            theme: 'bootstrap4',
            placeholder: 'Cari Aplikasi',
        });
    
        $('#page_filter').select2({
            theme: 'bootstrap4',
            placeholder: 'Cari Halaman',
        });
    });

    $('#app_filter').change(function () {
        var url = $('#filterDiv').attr("data-page-url");
        var app_id = $(this).val();

        if(app_id) {
            $.ajax({
                url: url,
                data: {
                    'app_id' : app_id
                },
                success: function(data) {
                    $("#page_filter").html(data);
                    $("#page_filter").prop('disabled', false);
                }
            });
        }
    });

    {% if messages %}
    {% for message in messages %}
    
    {% if 'page_added' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}

    {% if 'page_updated' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'page_archived' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'page_unarchived' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
        
    {% endfor %}
    {% endif %}
        
</script>

{% endblock content %}  