{% extends 'app/base.html' %}

{% load static %}

{% block title %}SMS Blast{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'css/smsblast.css' %}">{% endblock style %}

{% block contentheader %}SMS Blast{% endblock contentheader %}

{% block content %}
<fieldset class="contact-border">

    <legend class="contact-border">Filter</legend>

    <div id="filterDiv" class="control-group mb-3" data-page-url="{% url 'app:ajax_load_pages' %}"
        data-location-url="{% url 'app:ajax_load_locations' %}">
        <div class="col input-wrapper">
            <div class="row">
                <div class="col-sm-3 no-padding">
                    <label for="contactGroupFilter"><small>Cari Grup Kontak</small></label>
                    <div class="input-group">
                        <select id="contactGroupFilter" class="form-control">
                            <option value="">Cari Grup Kontak</option>
                            {% for contact in contacts %}
                            <option value="{{contact}}">{{contact}}</option>
                            {% endfor %}                                
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 no-padding">
                    <label for=""><small>Cari Tanggal Pengiriman</small></label>
                    <div class="input-group">
                        <input id="sendDateFilter" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-3 no-padding">
                    <label for="sentFilter"><small>Cari Status Pengiriman</small></label>
                    <div class="input-group">
                        <select id="sentFilter" class="form-control">
                            <option value=""></option>
                            <option value="sent">Sudah Dikirim</option>
                            <option value="notsent">Belum Dikirim</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 no-padding">
                    <label style="color: white;"><small>Reset Filter</small></label>
                    <div class="input-group">
                        <button id="resetFilter" name="reset" type="button" class="btn btn-secondary ml-2">Reset
                            Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group mb-3">
        <div class="row">
            <div class="col input-wrapper">
                <input id="myInputTextField" type="text" class="form-control form-control-borderless searchinput"
                    placeholder="Cari...">
                <span class="fas fa-search searchspan"></span>
            </div>
        </div>
    </div>

</fieldset>

<table id="smsTable" class="table table-striped table-bordered mt-3">
    <thead>
        <tr>
            <th style="vertical-align: middle; text-align: center;" scope="col">No</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Judul Pesan</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Nama Grup Kontak</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Jumlah SMS</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Tanggal Pengiriman</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Jam Kirim</th>
            <th style="vertical-align: middle; text-align: center;" scope="col">Status</th>
            <th style="vertical-align: middle; text-align: center;"  scope="col">Aksi</th>
        </tr>
    </thead>

    <tbody>
        {% for content in contents  %}
        <tr>
            <td style="vertical-align: middle; text-align: center;">{{forloop.counter}}</td>
            <td style="vertical-align: middle;">{{content.message_title}}</td>
            <td style="vertical-align: middle;">
                <ul>
                    {% for group in content.contact_groups %}
                    <li class="table_li">{{group}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td style="vertical-align: middle; text-align: center;">{{content.sms_count}}</td>
            <td style="vertical-align: middle; text-align: center;">{{content.send_date|date:"d/m/Y"}}</td>
            <td style="vertical-align: middle; text-align: center;">{{content.send_time|time:"H:i:s"}}</td>
            <td style="vertical-align: middle; text-align: center;">{{content.status}}</td>
            <td style="vertical-align: middle; text-align: center;">
                <span class="spanFormat">
                    <a href="{% url 'app:smsblast_detail_smsblast' pk=content.pk %}">
                        <button type="button" class="btn btn-sm btn-primary">Detail</button>
                    </a>
                </span>
                <span class="spanFormat">
                    <form action="{% url 'app:smsblast_update_smsblast' pk=content.pk %}" method="GET">
                        <button type="submit" class="btn btn-sm btn-warning">Update</button>
                    </form>
                </span>
                <span class="spanFormat">
                    <form id="form_smsblast_delete-{{forloop.counter0}}" action="{% url 'app:smsblast_delete_smsblast' pk=content.pk %}" method="POST">
                        {% csrf_token %}
                        <button id="deleteSMSBlastBtn-{{forloop.counter0}}" type="button" class="btn btn-sm btn-danger" onclick="deleteSMSBlast(this);">Hapus</button>
                    </form>
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block script %}
<script src="{% static 'js/smsblast.js' %}"></script>
<script type="text/javascript">
    {% if messages %}
    {% for message in messages %}
    
    {% if 'smsblast_added' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'smsblast_updated' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'smsblast_deleted' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
        
    {% endfor %}
    {% endif %}
        
</script>
{% endblock script %}