{% extends 'app/base.html' %}

{% load static %}

{% block title %}SMS Blast - Lihat Kontak{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'css/temp_contact.css' %}">{% endblock style %}

{% block content %}

<h3 class="text-center mb-2">Daftar Semua Nomor</h3>

<hr>

<div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" for="">
        <strong>Nama Grup Kontak</strong>
    </label>
    <label class="col-sm-1 col-form-label no-padding" style="max-width: 3% !important">:</label>
    <div class="col-sm-9 no-padding">
        <input type="text" class="form-control no-border" value="{{name|default_if_none:''}}" disabled>
    </div>
</div>

<div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" for="">
        <strong>Jumlah Nomor yang sudah di Generate</strong>
    </label>
    <label class="col-sm-1 col-form-label no-padding" style="max-width: 3% !important">:</label>
    <div class="col-sm-9 no-padding">
        <input type="text" class="form-control no-border" value="{{count}}" disabled>
    </div>
</div>

<div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" for="">
        <strong>Cek Nomor yang sudah terdaftar</strong>
    </label>
    <label class="col-sm-1 col-form-label no-padding" style="max-width: 3% !important">:</label>
    <div class="col-sm-9 no-padding">
        <button type="button" class="btn btn-danger">Cek Nomor</button>
    </div>
</div>

<table class="table table-bordered">
    {% for list in contacts %}
    <tr>
        {% for contact in list %}
        <td>{{contact}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>    

{% endblock content %}

{% block script %}

{% endblock script %}