{% extends 'app/base.html' %}

{% load static %}

{% block title %}SMS Blast - Update Kontak{% endblock title %}

{% block style %}<link rel="stylesheet" href="{% static 'css/update_contact.css' %}">{% endblock style %}

{% block content %}
<form id="contactGroupForm" method="POST" action="{% url 'app:smsblast_update_contact_group' pk=pk %}" data-check-name-url="{% url 'app:ajax_check_contact_name_update' %}">
    {% csrf_token %}

    <div id="card-field" class="container-fluid mt-3">
        <h3 class="text-center mb-2">Form Update Kontak</h3>
    </div>

    <hr>

    <div class="container-fluid mt-5 mb-5">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="{{ form_contact.name.id_for_label }}">{{ form_contact.name.label }}</label>
            <div class="col-sm-10">
                {{ form_contact.name }}
                <small id="contactNameErrorEmpty" style="color: red; display: none;">Nama tidak boleh kosong.</small>
                <small id="contactNameErrorNotUnique" style="color: red; display: none;">Nama sudah dipakai. Silahkan coba nama lain.</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                for="{{ form_contactsource.source.id_for_label }}">{{ form_contactsource.source.label }}</label>
            <div class="col-sm-10">
                {{ form_contactsource.source }}

                {% if form_contactsource.errors %}
                {% for error in form_contactsource.source.errors %}
                <small style="color: red;">{{error}}</small>
                {% endfor %}
                {% endif %}

            </div>
        </div>

        <input id="csvBool" type="hidden" name="csvBool">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Generate Nomor Tujuan</label>
        </div>

        <button id="contactGroupFormBtn" style="display: none;" type="submit">Submit</button>

    </div>
</form>

<form id="randomNumberForm" method="POST" action="{% url 'app:smsblast_update_random_generated_numbers' pk=pk %}">
    {% csrf_token %}
    {{ formset_generaterandomnumber.management_form }}
    <fieldset {% if csvcontact %}style="display: none;"{% endif %} id="random-generate" class="numbergenerate-border">
        <div class="control-group mb-3 mt-3">
            <div class="col input-wrapper">
                {% for form_generate in formset_generaterandomnumber %}
                <div id="generate-{{forloop.counter0}}-div" class="row generate-div" class="row">
                    {{form_generate.id}}
                    {{form_generate.DELETE}}
                    <div class="col-sm-2 no-padding">
                        <label for="">{{form_generate.first_code.label}}</label>
                        <div class="input-group">
                            {{form_generate.first_code}}
                        </div>
                        <div class="input-group">
                            <small id="first_code-{{forloop.counter0}}-inaccurate" class="first_code-inaccurate"
                                style="color: red; display: none;">Kode Awal harus berawalan 08 dan maksimal 4 karakter.</small>

                            {% if form_generate.errors %}
                            {% for error in form_generate.first_code.errors %}
                            <small class="first_code-backend-error" style="color: red;">{{error}}</small>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <label for="">{{form_generate.digits.label}}</label>
                        <div class="input-group">
                            {{form_generate.digits}}
                        </div>
                        <div class="input-group">
                            <small id="digits-{{forloop.counter0}}-inaccurate" class="digits-inaccurate"
                                style="color: red; display: none;">Jumlah digit nomor harus diisi dengan antara angka 9
                                dan 14.</small>

                            {% if form_generate.errors %}
                            {% for error in form_generate.digits.errors %}
                            <small class="digits-backend-error" style="color: red;">{{error}}</small>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-3 no-padding">
                        <label for="">{{form_generate.generate_numbers.label}}</label>
                        <div class="input-group">
                            {{form_generate.generate_numbers}}
                        </div>
                        <div class="input-group">
                            <small id="generate_numbers-{{forloop.counter0}}-empty" class="generate_numbers-inaccurate"
                                style="color: red; display: none;">Jumlah nomor yang akan di Generate tidak boleh
                                kosong.</small>

                            {% if form_generate.errors %}
                            {% for error in form_generate.generate_numbers.errors %}
                            <small class="generate_numbers-backend-error" style="color: red;">{{error}}</small>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div id="contactBtnDiv" class="col-sm-2">
                        <label style="color: white;">tambah&hapus</label>
                        <div class="input-group">
                            <button id="add-{{forloop.counter0}}-contact" type="button"
                                class="btn btn-primary addContactBtn" style="display: none;"
                                onclick="addContact(this);">Tambah</button>
                            <button style="display: none;" id="delete-{{forloop.counter0}}-contact" type="button"
                                class="btn btn-danger deleteContactBtn ml-2"
                                onclick="deleteContact(this);">Hapus</button>
                        </div>
                    </div>
                    
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-3">
                        <label style="color: white;"></label>
                        <div class="input-group">
                            <button id="generateNumber" type="button" class="btn btn-success">Generate</button>
                            <a id="tempRandomContacts" href="{% url 'app:temp_random_contacts_update' %}" target="_blank">
                                <button id="viewRandomNumbers" type="button" class="btn btn-warning ml-2" {% if csvcontact %}disabled{% endif %}>Lihat
                                    Nomor</button>
                            </a>

                            <div id="randomNumberSpinner" style="display: none;" class="spinner-border ml-3 mt-1" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <input id="contactName" type="hidden" name="contactName" {% if contact_name %}value="{{contact_name}}"{% endif %}>

        <button id="generateRandomFormBtn" style="display: none;" type="submit">Submit</button>
    </fieldset>
</form>

<form id="csvForm" action="{% url 'app:generate_csv_udpate' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset {% if generatecontact %}style="display: none;"{% endif %} id="csv-generate" class="numbergenerate-border">
        <div class="control-group mb-3 mt-3">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"
                    for="{{form_uploadcsv.upload_csv.id_for_label}}">{{form_uploadcsv.upload_csv.label}}</label>
                <div class="col-sm-10">
                    {{form_uploadcsv.upload_csv}}
                    <small id="csv-inaccurate" class="csv-errors" style="color: red; display: none;">File tidak sesuai atau tidak boleh kosong.</small>
                    <small id="csv-invalid-format" class="csv-errors" style="color: red; display: none;">Format CSV tidak sesuai dengan template.</small>
                    <small id="csv-invalid-prefix" class="csv-errors" style="color: red; display: none;">Nomor harus berawalan 08.</small>
                    <small id="csv-invalid-length" class="csv-errors" style="color: red; display: none;">Jumlah digit nomor harus di antara 9 - 14.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label style="color: white;"></label>
                    <div class="input-group">
                        <button id="downloadCSVTemplate" type="button" class="btn btn-success">Download
                            Template</button>
                        <a id="tempCSVContacts" href="{% url 'app:temp_csv_contacts_update' %}" target="_blank">
                            <button id="viewCSVNumbers" type="button" class="btn btn-warning ml-2" {% if generatecontact %}disabled{% endif %}>Lihat
                                Nomor</button>
                        </a>
                        <div id="csvNumberSpinner" style="display: none;" class="spinner-border ml-3 mt-1" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<div class="container-fluid mt-5 mb-5">

    <div id="saveBtnDiv" class="form-group row float-right">
        <a href="{% url 'app:smsblast_contact' %}">
            <button type="button" class="btn btn-secondary">Batal</button>
        </a>
        <button id="submitForms" type="button" class="btn btn-primary ml-2" onclick="submitForms();">Simpan</button>
    </div>

</div>


{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        new AutoNumeric('.generate_numbers', {
            digitGroupSeparator : '.',
            decimalPlaces : '0',
        });

        {% if form_generate_fail %}
        window.history.pushState('', '', '/smsblast/add_contact');
        $('#id_source').val('random').attr('selected', true)

        {% endif %}

        {% if csvcontact %}
        $('#csvBool').val('True');
        $('#add-0-contact').show();
        {% endif %}

        {% if generatecontact %}
        var last_id = $('#id_form-INITIAL_FORMS').val()

        $('#generate-' + last_id + '-div').remove()
        $('#id_form-TOTAL_FORMS').val(last_id)

        if (last_id != 1) {
            $('#delete-' + ($('#id_form-TOTAL_FORMS').val() - 1) + '-contact').show();
            $('#add-' + ($('#id_form-TOTAL_FORMS').val() - 1) + '-contact').show();
        } else {
            $('#add-' + ($('#id_form-TOTAL_FORMS').val() - 1) + '-contact').show();

        }

        $('#contactName').val('{{ form_contact.name.value }}')
        {% endif %}

        $('a#tempRandomContacts').attr('href', '/smsblast/temp_random_contacts_update?name=' + encodeURIComponent('{{form_contact.name.value}}'))
        $('a#tempCSVContacts').attr('href', '/smsblast/temp_csv_contacts_update?name=' + encodeURIComponent('{{form_contact.name.value}}'))

        $('#sliderManagement').removeClass('menu-open');
        $('a#contactManagement').addClass('active');

        $('#id_source').select2({
            theme: 'bootstrap4',
            placeholder: 'Pilih cara mendapatkan sumber kontak',
        });
    });

    function addNametoURLandInputs(input) {
        var name = $(input).val();
        var pk = '{{pk}}'

        if(name === '') {
            $('a#tempRandomContacts').attr('href', '/smsblast/temp_random_contacts_update');
            $('a#tempCSVContacts').attr('href', '/smsblast/temp_csv_contacts_update');
            $('#contactName').val(name);
        } else {
            $('a#tempRandomContacts').attr('href', '/smsblast/temp_random_contacts_update?name=' + encodeURIComponent(name));
            $('a#tempCSVContacts').attr('href', '/smsblast/temp_csv_contacts_update?name=' + encodeURIComponent(name));
            $('#contactName').val(name);
        }

        var url = $('#contactGroupForm').attr("data-check-name-url");

        $.ajax({
            url: url,
            data: {
                'name': name,
                'pk' : pk,
            },
            success: function (data) {
                if(data === 'True') {
                    $('#contactNameErrorNotUnique').show();
                    $('#contactNameErrorEmpty').hide();
                    $('#submitForms').prop('disabled', true);
                } else {
                    $('#contactNameErrorNotUnique').hide();
                    $('#contactNameErrorEmpty').hide();
                    $('#submitForms').prop('disabled', false);
                }
            }
        });
    }

    function submitForms() {
        if ($('#random-generate').is(':hidden')) {
            if ($('#id_name').val() === '') {
                $('#id_name').focus();
                $('#contactNameErrorEmpty').show();
                return false;
            } else if ($('#id_upload_csv').get(0).files.length == 0) {
                $('#csv-inaccurate').show();
                return false;
            }

            $('#contactGroupFormBtn').click();

        } else if ($('#csv-generate').is(':hidden')) {

            if ($('#id_name').val() === ''){
                $('#id_name').focus();
                $('#contactNameErrorEmpty').show();
                return false;
            }

            $.post('/smsblast/update_contact_group/{{pk}}', $('#contactGroupForm').serialize())
            .done(function(result) {
                $('#randomNumberForm').submit();
            })
        }
    }
</script>
<script src="{% static 'js/update_contact.js' %}"></script>
{% endblock script %}