{% extends 'app/base.html' %}

{% load static %}

{% block title %}Update Pengguna{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/add_banner.css' %}">
{% endblock style %}

{% block content %}
<div id="card-field" class="container-fluid mt-3">

    <h3 class="text-center mb-2">Form Update Pengguna
        <span class="btn-group float-right">
            <a href="{% url 'app:user' %}" style="color: white; text-decoration: none;">
                <button type="button" class="btn btn-secondary mr-2">
                    Batal
                </button>
            </a>
        </span>
    </h3>

    <hr>

    <div class="container-fluid mt-5 mb-5">

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form_user.email.id_for_label }}">{{ form_user.email.label }}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_user.email }}
                    {% if form_user.email %}
                    {% for error in form_user.email.errors %}
                    <small style="color: red;">{{error}}</small>
                    {% endfor %}
                    {% endif %}

                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupPrependEmail">
                            <a href="" data-toggle="modal" data-target="#modalEmail">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>
                    </div>

                </div>

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form_user.username.id_for_label }}">{{ form_user.username.label }}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_user.username }}
                    {% if form_user.username %}
                    {% for error in form_user.username.errors %}
                    <small style="color: red;">{{error}}</small>
                    {% endfor %}
                    {% endif %}

                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupPrependUsername">
                            <a href="" data-toggle="modal" data-target="#modalUsername">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="{{ form_user.password.id_for_label }}">{{ form_user.password.label }}</label>
            <div class="col-sm-10">
                <div class="input-group">
                    {{ form_user.password }}
                    {% if form_user.errors %}
                    {% for error in form_user.password.errors %}
                    <small style="color: red;">{{error}}</small>
                    {% endfor %}
                    {% endif %}

                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupPrependPassword">
                            <a href data-toggle="modal" data-target="#modalPassword">
                                <i class="fas fa-edit"></i>
                            </a>
                        </span>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
    

<div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalEmail"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'app:update_email' pk=request.user.id %}" method="POST">
                {% csrf_token %}

                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ubah Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newEmailInput">Email Baru</label>
                        <input type="email" class="form-control" name="newEmailInput" id="newEmailInput"
                        placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Konfirmasi Password</label>
                        <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm"
                        placeholder="Password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUsername" tabindex="-1" role="dialog" aria-labelledby="modalUsername"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'app:update_username' pk=request.user.id %}" method="POST">
                {% csrf_token %}

                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ubah Username</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newUsernameInput">Username Baru</label>
                        <input type="text" class="form-control" name="newUsernameInput" id="newUsernameInput"
                        placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Konfirmasi Password</label>
                        <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm"
                        placeholder="Password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalPassword"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'app:update_password' pk=request.user.id %}" method="POST">
                {% csrf_token %}

                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ubah Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="oldPasswordInput">Password Lama</label>
                        <input type="password" class="form-control" name="oldPasswordInput" id="oldPasswordInput"
                        placeholder="Password Lama" required>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordInput">Password Baru</label>
                        <input type="password" class="form-control" name="newPasswordInput" id="newPasswordInput"
                        placeholder="Password" minlength="8" required>
                        <small class="password-warning-text" style="color: red; display: none;">Password tidak
                            sama!</small>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm">Konfirmasi Password Baru</label>
                        <input type="password" class="form-control" name="newPasswordConfirm" id="newPasswordConfirm"
                        placeholder="Password" required>
                        <small class="password-warning-text" style="color: red; display: none;">Password tidak sama!</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/add_banner.js' %}"></script>

<script>
    $('#modalPassword form').submit(function() {
        if($('#newPasswordConfirm').val() != $('#newPasswordInput').val()){
            $('.password-warning-text').show();
            return false;
        }else{
            $('.password-warning-text').hide();
            $(this).submit();
        }
    })

    {% if messages %}
    {% for message in messages %}
    
    {% if 'password_wrong' in message.tags %}
        Swal.fire({
            icon: 'error',
            title: '{{ message }}',
            text: 'Silahkan coba lagi!',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'username_changed' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
    
    {% if 'username_used' in message.tags %}
        Swal.fire({
            icon: 'error',
            title: '{{ message }}',
            text: 'Silahkan coba username lain!',
            confirmButtonClass: 'btn btn-primary',
        }).then((result) => {
            if (result.value) {
                $('#modalUsername').modal('show');
            }else{
                $('#modalUsername').show('show');
            }
        });
    {% endif %}
    
    {% if 'email_changed' in message.tags %}
    Swal.fire({
        icon: 'success',
        title: 'Berhasil!',
        text: '{{ message }}',
        confirmButtonClass: 'btn btn-primary',
    })
    {% endif %}
    
    {% if 'email_used' in message.tags %}
        Swal.fire({
            icon: 'error',
            title: '{{ message }}',
            text: 'Silahkan coba email lain!',
            confirmButtonClass: 'btn btn-primary',
        }).then((result) => {
            if (result.value) {
                $('#modalEmail').modal('show');
            }else{
                $('#modalEmail').show('show');
            }
        });
    {% endif %}
    
    {% if 'password_changed' in message.tags %}
        Swal.fire({
            icon: 'success',
            title: 'Berhasil!',
            text: '{{ message }}',
            confirmButtonClass: 'btn btn-primary',
        })
    {% endif %}
        
    {% endfor %}
    {% endif %}
</script>
{% endblock script %}
    

