asgiref==3.2.5
beautifulsoup4==4.9.1
Django==3.0.4
django-filter==2.2.0
djangorestframework==3.11.0
drf-renderer-xlsx==0.3.7
et-xmlfile==1.0.1
gunicorn==20.0.4
jdcal==1.4.1
Markdown==3.2.1
openpyxl==3.0.4
psycopg2==2.8.4
pycountry==19.8.18
python-decouple==3.3
pytz==2019.3
soupsieve==2.0.1
sqlparse==0.3.1
