{% extends 'registration/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-dark card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Reset Password</strong></h5>
                    <div class="highlight">
                        <p>Anda telah berhasil melakukan Reset Password. Aplikasi akan diarahkan menuju halaman Login. Silahkan masuk menggunakan password baru anda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        setTimeout(function(){
            window.location.href = '/login';
        }, 3000);
    });
</script>
{% endblock script %}