{% extends 'registration/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-dark card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>Lupa Password</strong></h5>
                    <div class="highlight">
                        <p>Link ubah password telah dikirim. Jika email telah didaftarkan pada akun maka anda akan menerima email berisi link ubah password.</p>
                        <p>Jika anda tidak menerima link ubah password, pastikan bahwa anda mengisi email dengan benar dan cek folder spam.</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}