.select2-results .select2-disabled,
.select2-results__option[aria-disabled=true] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

fieldset.page-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.page-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus,
.btn-secondary:disabled {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:disabled {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger:disabled {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}