.searchspan {
    float: left;
    margin-left: 7px;
    margin-top: -26px;
    position: absolute;
    z-index: 2;
}

.searchinput {
    padding-left: 30px;
}

.spanFormat {
    text-align: left;
    display: table-cell;
    min-width: 10px;
    padding-right: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    float: left;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.btn-danger:focus,
.btn-danger:disabled {
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited,
.btn-warning:focus {
    background-color: #FFFF00 !important;
    border-color: #000000;
    box-shadow: 3px 3px #000000;
}